<ul>
    <% for (const todo of todos) { %>
    <li>
      <div>
        <% if (todo.priority == "high") { %>
          🔴
        <% } else if (todo.priority == "low") { %>
          🟢
        <% } else { %>
          🔵
        <% } %>
        <a href="/todo/<%= todo.id %>/"><%= todo.title %></a>
      </div>
      <div class="actions">
        <% if (todo.done) { %>
          <a href="/todos/<%= todo.id %>/toggle">✅ dokončeno</a>
        <% } else { %>
          <a href="/todos/<%= todo.id %>/toggle">⏳ nedokončeno</a>
        <% } %>
        <a href="/todos/<%= todo.id %>/remove">🗑 odebrat</a>
      </div>
    </li>
    <% } %>
  </ul>