<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Click On Signal Game</title>
  <link rel="stylesheet" href="/styles.css" />
</head>
<body>
  <div class="centered">
    <h3>
     <div id="gameParticipants"><%- include('_activePlayers.html') %></div>
    </h3>
    <h2>Click On Signal</h2>
    <div id="gameState"><%- include('_clickOnSignalGameContent.html') %></div>
  </div>
  <script>
   const ws = new WebSocket("ws://localhost:3000/ws")
   ws.addEventListener("message", (event) => {
    console.log('received in game event', event.data)
    let data;
    try {
      data = JSON.parse(event.data)
    } catch (e) {
      console.log('Failed to parse ws message:', event.data, e);
      return;
    }
    console.log('Parsed ws message:', data);
    const {type, html} = data;
    if (type === "gameParticipantsChange") {
      const el = document.getElementById("gameParticipants")
      el.innerHTML = html
    }
    if (type === "gameStateChange") {
      const el1 = document.getElementById("gameState")
      el1.innerHTML = html
    }
  });
  </script>
</body>
</html>