<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Přihlášení</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <% if (typeof error !== 'undefined' && error) { %>
      <div class="popup-error"><%= error %></div>
      <script>
        setTimeout(() => {
          const popup = document.querySelector('.popup-error');
          if (popup) popup.style.display = 'none';
        }, 3000);
      </script>
    <% } %>
    <div class="main-content">
      <h1>Přihlášení</h1>
      <form action="/login" method="post" class="login-form">
        <input
          type="text"
          name="username"
          placeholder="Jméno"
          required
        />

        <input
          type="password"
          name="password"
          placeholder="Heslo"
          required
        />

        <button type="submit" class="btn dark">Přihlásit se</button>
      </form>
      <a href="/" class="btn dark">Hlavní stránka</a>
    </div>
  </body>
</html>