<!DOCTYPE html>
<html lang="cs">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Testovací Aplikace</title>
  <link rel="stylesheet" href="/styles.css" />
</head>
<body>
  <header class="top-bar">
   
         <div id="activePlayers"><%- include('_activePlayers.html') %></div>

    <a href="/logout" class="btn">Odhlásit se</a>
  </header>

  <main class="main-content">
    <button class="btn play">Play</button>
    <button class="btn friends">Friends</button>
  </main>

  <script>
   const ws = new WebSocket("ws://localhost:3000/ws")
 
   ws.addEventListener("message", (event) => {
    console.log('received event', data)
    const {type, html} = JSON.parse(event.data)
    if (type === "activePlayers") {
      const el = document.getElementById("activePlayers")
      el.innerHTML = html
    }  
   })
</script>
</body>
</html>
