<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Document</title>
  </head>
  <body>
    <h1>Registrace</h1>
    <form action="/register" method="post">
      <input
        type="text"
        name="username"
        placeholder="Jméno"
      />

      <input
        type="password"
        name="password"
        placeholder="Heslo"
      />

      <div>
        <label>Vyberte si avatar:</label>
        <div class="avatar-selection">
          <label><input type="radio" name="profilePicture" value="cat.png" checked><img src="/profile_pics/cat.png" alt="cat" width="64" height="64"></label>
          <label><input type="radio" name="profilePicture" value="crocodile.png"><img src="/profile_pics/crocodile.png" alt="crocodile" width="64" height="64"></label>
          <label><input type="radio" name="profilePicture" value="dog.png"><img src="/profile_pics/dog.png" alt="dog" width="64" height="64"></label>
          <label><input type="radio" name="profilePicture" value="elephant.png"><img src="/profile_pics/elephant.png" alt="elephant" width="64" height="64"></label>
          <label><input type="radio" name="profilePicture" value="lion.png"><img src="/profile_pics/lion.png" alt="lion" width="64" height="64"></label>
          <label><input type="radio" name="profilePicture" value="monkey.png"><img src="/profile_pics/monkey.png" alt="monkey" width="64" height="64"></label>
          <label><input type="radio" name="profilePicture" value="panda.png"><img src="/profile_pics/panda.png" alt="panda" width="64" height="64"></label>
        </div>
      </div>

      <button type="submit">Registrovat se</button>
    </form>
    <a href="/" class="btn">Main page</a>
  </body>
</html>