<html lang="en">
    <head>

    </head>
    <body>
        <h1><%= title.toUpperCase() %></h1>
        <ul>
            <% for (const todo of todos) { %>
            <li>
                <%= todo.title %>
                -
                <% if (todo.done) { %>
                    <a href="/todos/<%= todo.id %>/toggle">dokončeno</a>
                <% } else { %>
                    <a href="/todos/<%= todo.id %>/toggle">nedokončeno</a>
                <% } %>
            </li>
            <% } %>
        </ul>
        <form method="post" action="/todos">
            <input name="title"/>
            <button type="submit">přidat todo</button>
        </form>
    </body>
</html>